{{!-- products --}}
<section>
    <div class="container">
        <div class="row m-3">
            {{#each products}}
            <div class="col-md-3">
                <div class="card" style="width: 16rem;height:30rem; ">
                    <img class="card-img-top mx-auto" src="/product-images/{{this._id}}.jpg" alt="Card image cap" style="height: 19rem; width:14rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text font-weight-bold">Rs.{{this.price}}</p>
                        <p class="card-text">{{this.descreption}}</p>
                        <button class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>